@charset "utf-8";
div,a,img,figure,body,header,nav,ul,main,p,section,h1{
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
 }

ul{
  margin: 40px 0px;
  list-style-type: none;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #373737;
}

ul>li{
  display: inline-block;
  padding: 0 15px;
}

ul>li>a{
  text-decoration: none;
  color: #373737;
}

ul>li>a:hover{
  text-decoration: none;
  color: #E64A19;
}

footer{
  padding: 40px 0px 30px 0px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: oblique;
}

/*--TITLE------------------------------*/
.maintitle{
  color: #373737;
  text-align: center;
}

h1{
  font-family: 'Alice', serif;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  padding: 60px 0px 0px 0px;
  color: #373737;
}

.subtitle{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400px;
}

.intro_pic{
  margin: 60px 0px 0px 0px;
  background-image: url("https://images.unsplash.com/uploads/141310026617203b5980d/c86b8baa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=d2a11a8a60eb8c318cae5f82a23f9eed");
  min-height: 540px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.intro_pic img{
  width: 100%;
}

/*-- 0 OBJECTIVE---------------------*/
.work_logo{
  position: relative;
  padding: 90px 0px 30px 0px;
  text-align: center;
}

.work_desc{
  margin: 0px 200px 150px 200px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  color: #373737;
  text-align: center;
}

.bold{
  font-weight: 900;
}

.work_illust{
  position: relative;
  margin-top: -130px;
  padding: 0px 0px 30px 0px;
  text-align: center;
}

.product_pic1{
  background-image: url("doveyash.github.io/img/bo/3_product.png");
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.product_pic2{
  background-image: url("doveyash.github.io/img/bo/4_product.png");
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.product_pic3{
  background-image: url("doveyash.github.io/img/bo/5_product.png");
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.Number_circle{
  margin-top: 160px;
  border-radius: 50%;
  behavior: url(PIE.htc); /* for IE8 */
  width: 30px;
  height: 30px;
  padding: 3px;
  background: #373737;
  border: 2px solid #373737;
  color: #fff;
  text-align: center;
  font: 23px 'Alice', sans-serif;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.SectionTitle{
  font-family: 'Alice', serif;
  font-size: 30px;
  color: #373737;
  margin: 130px 0px 20px 0px;
  text-align: center;
}

.title_illust{
  padding-top: 180px;
  text-align: center;
}

.sub_section{
  font-family: 'Alice', sans-serif;
  font-size: 20px;
  color: #373737;
  margin: 10px 0px 40px 0px;
  text-align: center;
}

.work_desc2{
  margin: 50px 200px 100px 200px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600px;
  color: #373737;
  text-align: center;
}

.departure_pic{
  background-image: url("doveyash.github.io/img/bo/7_departure3.png");
  min-height: 450px;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size:auto;
}

.Number_circle2{
  margin-top: 120px;
  border-radius: 50%;
  behavior: url(PIE.htc); /* for IE8 */
  width: 30px;
  height: 30px;
  padding: 3px;
  background: #373737;
  border: 2px solid #373737;
  color: #fff;
  text-align: center;
  font: 23px 'Alice', sans-serif;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title_illust2{
  padding-top: 180px;
  text-align: center;
}

.work_quote{
  margin-top: -120px;
  font-family: 'Alice', sans-serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.work_quote_name{
  font-family: 'Lato', serif;
  font-size: 14px;
  text-align: center;
}

.quote_pic{
  margin: 60px 0px 0px 0px;
  background-image: url("doveyash.github.io/img/bo/9_kimsooja.jpg");
  min-height: 540px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.work_desc3{
  margin: 50px 200px 25px 200px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600px;
  color: #373737;
  text-align: center;
  font-style: oblique;
}

.work_desc4{
  margin: 0px 200px 125px 200px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600px;
  color: #373737;
  text-align: center;
  font-style: oblique;
}

.work_illust3{
  margin-top: -110px;
  text-align: center;
}

.work_illust3 img{
  width: 60%;
}

.work_illust4{
  text-align: center;
}

.work_illust4 img{
  width: 90%;
}

/*-- Go Up -------------------*/
.arrow{
  text-align: center;
  padding: 100px 0px 100px 0px;
  font-family: 'Lato', serif;
  font-size: 15px;
  font-weight: 400;
  color: #373737;
}

i {
    border: solid #373737;
    border-width: 0 2.5px 2.5px 0;
    display: inline-block;
    padding: 7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow a{
  text-decoration: none;
  color: #373737;
}

i:hover{
  border: solid #E64A19;
  border-width: 0 3.5px 3.5px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow a:hover{
  color: #E64A19;
}

/*-- Responsive Design Layouts-------------------------*/
@media only screen and (max-width: 1080px){
  .work_quote{
    margin: -180px 170px 100px 170px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 18px;
    font-style: italic;
    color: #fff;
  }
  .work_quote_name{
    margin: -70px 0px 100px 0px;
    font-family: 'Lato', serif;
    font-size: 14px;
    font-weight: 100;
    font-style: normal;
    color: #fff;
    text-align: center;
  }
  .v_line{
    margin: 40px 0px 0px 0px;
    border-left: 1.5px solid #373737;
    height: 100px;
    position: absolute;
    left: 50%;
  }
  .Number_circle{
    margin-top: 130px;
  }
  .sub_section{
    margin-top: 200px;
  }
  .work_desc{
    margin: 0px 100px 130px 100px;
  }

  .work_graphic img{
  width: 90%;
  }

  .work_graphic_scenario img{
    width: 90%;
  }
}

@media only screen and (max-width: 914px){
  .work_quote{
    margin: -140px 100px 100px 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    color: #fff;
  }
  .work_quote_name{
    margin: -80px 0px 100px 0px;
    font-family: 'Lato', serif;
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    text-align: center;
  }
  .work_quote_pic{
    padding: 50px 0px 0px 0px;
    text-align: center;
  }
  .work_quote_pic img{
    width: 100%;
  }
  .index1, .index2{
    margin-top: -100px;
    padding: 0px 40px;
  }

  .index1 figure, .index2 figure{
    padding: 10px 30px 10px 0px;
    text-transform: none;
    float: right;
  }

  .index1 figure img, .index2 figure img{
    padding: 0px;
    margin: 0px;
  }

  .index1 figcaption, .index2 figcaption{
    padding: 2.5px 0px 0px 5px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 8px;
    float: right;
    text-transform: uppercase;
    color: #594a41;
  }
}
@media only screen and (max-width: 660px){
  .parallax {
      background-attachment: scroll;
  }

  .work_quote_pic{
    padding: 30px 0px 0px 0px;
    text-align: center;
  }
  .work_quote{
    margin: -87px 50px 100px 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 11px;
    font-style: italic;
    color: #fff;
  }
  .work_quote_name{
    margin: -87px 0px 100px 0px;
    font-family: 'Lato', serif;
    font-size: 9px;
    font-weight: 300;
    font-style: normal;
    color: #fff;
    text-align: center;
  }
}
@media only screen and (max-width: 520px){
  ul{
    margin: 30px 0px;
    list-style-type: none;
    text-align: center;
    font-family: 'lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #373737;
  }

  .work_desc{
    margin: 0px 60px 130px 60px;
    font-size: 15px;
  }

  .sub_section{
    font-size: 19px;
    font-weight: bold;
    margin-top: 220px;
    margin-bottom: 4px;
  }

  .sub_sectionsub{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
  }
  h1{
    font-family: 'Alice', serif;
    font-size: 30px;
    margin: 0px 0px 10px 0px;
    padding: 60px 0px 0px 0px;
    color: #373737;
  }

  .subtitle{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400px;
  }
  .intro_pic{
    margin: 30px 0px 0px 0px;
  }
  .SectionTitle{
    font-family: 'Alice', serif;
    font-size: 23px;
    color: #373737;
    margin: 100px 0px 20px 0px;
    text-align: center;
  }
  .work_pic{
    padding: 10px 0px;
  }
  .index1, .index2{
    margin-top: -100px;
    padding: 0px 18px;
  }

  .index1 figure, .index2 figure{
    padding: 20px 22px 10px 0px;
    text-transform: none;
    float: right;
  }

  .index1 figure img, .index2 figure img{
    padding: 0px;
    margin: 0px;
  }

  .index1 figcaption, .index2 figcaption{
    padding: 4px 0px 0px 5px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 7px;
    float: right;
    text-transform: uppercase;
    color: #594a41;
  }

  .work_graphic{
    padding: 10px 0px;
    text-align: center;
  }

  .intro_pic{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    overflow: hidden;
  }

  footer{
    padding: 0px 0px 30px 0px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: oblique;
  }
}
